:root {
	--body-background: #000;
	--text-color-orange: #F0783C;
	--text-color-orange-disabled: rgb(134, 67, 34);
	--email-valid: #F0783C;
}

@font-face {
	font-family: 'RooftopMono';
	src: url(../fonts/RooftopMono-Bold.ttf) format('ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Rooftop Mono Medium';
	src: url(../fonts/RooftopMono-Medium.ttf) format('ttf');
}

@font-face {
	font-family: 'Rooftop Mono Regular';
	src: url(../fonts/RooftopMono-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'DrukLCG';
	src: url(../fonts/DrukWideLCG-Bold.ttf) format('ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Druk LCG Medium';
	src: url(../fonts/DrukWideLCG-Medium.ttf) format('ttf');
	font-weight: 500;
}

.active {
	color: var(--text-color-orange);
}

.disabled-row {
	color: var(--text-color-orange-disabled);
}

.grayscale {
	filter: grayscale(100%);
}

.overflow-hidden {
	overflow: hidden;
}

body {
	background-color: var(--body-background);
	color: var(--text-color-orange);
	font-family: 'RooftopMono', sans-serif;
	/* cursor: none; */
	/* cursor: zoom-in; */
}


h1 {
	font-family: 'Druk LCG', sans-serif;
	font-size: 180px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;
}

h2 {
	font-family: 'Druk LCG', sans-serif;
	font-size: 150px;
	font-style: normal;
	font-weight: 700;
	line-height: 115%;
	text-transform: uppercase;
}

h3 {
	font-size: 100px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 100%;
}

h4 {
	font-size: 72px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;
	text-align: center;
}

h5 {
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	text-transform: uppercase;
	font-family: 'Rooftop Mono Medium', sans-serif;
}

h6 {
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	text-transform: uppercase;
}

h7 {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	text-transform: uppercase;
}

main {
	width: 100%;
}

.wrapper {
	width: 100%;
	padding: 0px 20px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 2040px;
}

.button {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	background: transparent;
	color: var(--text-color-orange);
	text-transform: uppercase;
	border-bottom: 1px solid var(--text-color-orange);
	padding-bottom: 3px;
	cursor: pointer;
}

.cursor-dot {
	width: 10px;
	height: 10px;
	background-color: var(--text-color-orange);
	position: relative;
	z-index: 100;
}


.cursor-outline {
	width: 80px;
	height: 80px;
	border: 2px solid var(--text-color-orange);
	position: relative;
	z-index: 100;
}

.cursor-dot,
.cursor-outline {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 1;
	pointer-events: none;
}


.margin-block {
	margin-top: 220px;
	width: 100%;
}

@media (max-width:1668px) {
	h2 {
		font-size: 130px !important;
	}

	h4 {
		font-size: 55px;
	}

	h6 {
		font-size: 28px;
	}
}

@media (max-width:1439px) {
	h2 {
		font-size: 110px !important;
	}

	h4 {
		font-size: 38px;
	}

	h5 {
		font-size: 30px;
	}
}


@media(max-width:1212px) {

	h2 {
		font-size: 90px !important;
	}

	.margin-block {
		margin-top: 150px;
	}
}

@media(max-width:1024px) {
	.margin-block {
		margin-top: 100px;
	}

	h2 {
		font-size: 64px !important;
	}

	h4 {
		font-size: 28px;
	}

	h7 {
		font-size: 20px;
	}
}

@media(max-width:767px) {
	h2 {
		font-size: 58px !important;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 24px;
	}

}

@media(max-width:677px) {
	.margin-block {
		margin-top: 72px;
	}

	h2 {
		font-size: 36px !important;
	}

	h4 {
		font-size: 16px;
	}

	h6 {
		font-size: 20px;
	}
}

@media(max-width:435px) {
	h2 {
		font-size: 33px !important;
	}
}

@media(max-width:379px) {
	h2 {
		font-size: 28px !important;
	}

	h4 {
		font-size: 13px;
	}

	h5 {
		font-size: 22px;
	}

	.button {
		font-size: 16px;
	}
}